.jd_index{
background-image:url('../images/index.PNG'); 
}
.jd_detail{
background-image:url("../images/detail.PNG")
}
.game_fly{
background-image:url("../images/fly.PNG")
}
.game_tetris{
background-image:url("../images/tetris.PNG")
}
.game_index{
background-image:url("../images/2048.PNG")
}
.Bootstrap{
background-image:url("../images/bootstrap.PNG")
}
